@use "fonts";

:root {
  --purple: #a729f5;
  --main-text: #313e51;
  --secondary-text: #626c7f;
  --secondary-background: #fff;
  --main-bg: #f4f6fa;
  --green: #26d782;
  --red: #ee5454;
  --box-shadow: rgba(143, 160, 193, 0.14);
}
.dark-theme {
  --purple: #a729f5;
  // --main-text: #313e51;
  --main-bg: #313e51;
  --secondary-text: #abc1e1;
  --secondary-background: #3b4d66;
  --main-text: #fff;
  --green: #26d782;
  --red: #ee5454;
  --box-shadow: rgba(49, 62, 81, 0.14);
}
* {
  font-family: fonts.$main-font;
  margin: 0;
  padding: 0;
}

// global body style and settings
body {
  background-image: url(../assets/images/pattern-background-desktop-light.svg);
  background-color: var(--main-bg, #f4f6fa);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
// global body style and settings

.orange {
  background-color: #fff1e9;
}
.green {
  background-color: #e0fdef;
}
.blue {
  background-color: #ebf0ff;
}
.purple {
  background-color: #f6e7ff;
}

.question-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #question-category-header {
    display: flex;
    align-items: center;
    gap: 24px;
    .landing-icons {
      width: 40px;
      height: 40px;
      padding: 8px;
      border-radius: 10px;
    }
    .categories-title {
      font-size: 28px;
      font-weight: 500;
      color: var(--main-text);
    }
  }
}

// dark mode toggle component here
.parent-component {
  width: 80%;
  margin-top: 40px;
  .mode-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    .mode-icons {
      width: 24px;
      height: 24px;
    }
    .dark-toggle-container {
      padding: 4px;
      background: var(--purple);
      width: 40px;
      border-radius: 999px;
      display: flex;

      .dark-toggle-button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
      }
    }
  }
}
// dark mode component ends here

.question-main-body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    .question-text-container {
      display: flex;
      flex-direction: column;
      gap: 27px;
      .question-number {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 150%;
        color: var(--secondary-text);
      }
      .question-body {
        font-size: 36px;
        font-weight: 500;
        line-height: 120%;
        color: var(--main-text);
      }
    }
    .question-level-container {
      background-color: var(--secondary-background);
      padding: 4px;
      height: 16px;
      width: 100%;
      border-radius: 999px;
      display: flex;
      margin-bottom: 50px;
      .level-indicator {
        width: 10%;
        height: 100%;
        border-radius: 104px;
        background-color: var(--purple);
      }
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
      text-decoration: none;
    }
    #main-button {
      background-color: var(--purple);
      padding: 32px;
      text-align: center;
      border-radius: 24px;
      color: white;
      margin-top: 12px;
      font-size: 28px;
      font-weight: 500;
      line-height: 100%;
      border: 3px solid var(--purple);
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    .question-content {
      width: 564px;
      background-color: var(--secondary-background);
      color: var(--main-text);
      display: flex;
      gap: 34px;
      align-items: center;
      padding: 20px;
      border-radius: 24px;
      box-shadow: 0px 16px 40px 0px var(--box-shadow);
      border: 3px solid transparent;
      transition: all;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;

      &:hover {
        border: 3px solid var(--purple);
        cursor: pointer;
      }

      .letter-options {
        padding: 24px;
        font-size: 28px;
        font-weight: 500;
        background-color: #f4f6fa;
        color: #626c7f;
        border-radius: 10px;
        text-align: center;
      }
      .question-options {
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
        :link {
          text-decoration: none;
        }
      }
    }
  }
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
  .question-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  * {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100vw;
  }
  // dark mode toggle component here
  .parent-component {
    width: 90%;
    margin-top: 30px;
  }
  // dark mode component ends here

  .question-main-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .question-container {
      display: flex;
      justify-content: start;
      width: 100%;
      .question-text-container {
        display: flex;
        flex-direction: column;
        .question-body {
          font-size: 36px;
          font-weight: 500;
          line-height: 120%;
          color: var(--main-text);
        }
      }
      .question-level-container {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 64px;
        margin-top: 40px;
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      a {
        text-decoration: none;
      }
      #main-button {
        background-color: var(--purple);
        padding: 32px;
        text-align: center;
        border-radius: 24px;
        color: white;
        margin-top: 12px;
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
        border: 3px solid var(--purple);
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      .question-content {
        box-sizing: border-box;
        width: 100%;
        background-color: var(--secondary-background);
        color: var(--main-text);
        display: flex;
        gap: 34px;
        align-items: center;
        padding: 12px;
        border-radius: 24px;
        box-shadow: 0px 16px 40px 0px var(--box-shadow);
        border: 3px solid transparent;
        transition: all;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;

        &:hover {
          border: 3px solid var(--purple);
          cursor: pointer;
        }

        .letter-options {
          padding: 20px;
          font-size: 28px;
          font-weight: 500;
          background-color: #f4f6fa;
          color: #626c7f;
          border-radius: 10px;
          text-align: center;
        }
        .question-options {
          font-size: 28px;
          font-weight: 500;
          line-height: 100%;
          :link {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.quiz-status {
  font-size: 64px;
  font-weight: 300;
  color: var(--main-text);
}

.quiz-second-status {
  font-size: 64px;
  font-weight: 500;
  color: var(--main-text);
}

.result-container {
  background-color: var(--secondary-background);
  width: 564px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  padding: 48px;
}
.questions-category-header {
  // background-color: blue;
  display: flex;
  gap: 24px;
  align-items: center;
  .landings-icons {
    padding: 8px;
    border-radius: 10px;
  }
  .categories-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    color: var(--main-text);
  }
}

.big-result-num {
  font-size: 144px;
  font-style: normal;
  font-weight: 500;
  color: var(--main-text);
  margin-top: 40px;
}

.small-result-num {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  color: var(--secondary-text);
}

.error-message-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ee5454;
  justify-content: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
  .result-container {
    box-sizing: border-box;
    width: 100%;
  }
}
